    body {
        background-image: url("{{ url_for('static', filename='images/background_homework.png') }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;



}




    h1 {
        color: Cyan;
        font-family: Courier, monospace;
        text-align: center;
}