
<!DOCTYPE html>
<html>
<head>
    <title>Game website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/game.css') }}">
</head>
<body>
    <h1>Hide & Seek game</h1>
    <img src="https://tr.rbxcdn.com/180DAY-c267c408a8596df51a8c55036a1a7516/768/432/Image/Webp/noFilter">
    <h2>Description</h2>
    <p>Shrink Hide & Seek is a combination of hide and seek and the ability to shrink!

    <p>🤏 AS HIDER: Shrink and hide inside objects. Use powers and trolls to distract the seekers. DON’T GET CAUGHT!</p>
    <p>👀 AS SEEKER: Try to find the hiders and kill them. Once you kill them they’ll join your team. FIND ALL HIDERS!</p>

    <p>💰 Collect coins to get better powers and weapons!</p>

    <p>Tags: Hide and Seek, Hide N Seek, Hide & Seek</p>

    <div>
        <a href="{{ url_for('home') }}">
                <button>Go back to Home Screen</button>
        </a>
    </div>

</body>
</html>
