<!DOCTYPE html>


<script>
    console.log("Hello World");
    
</script>



<html>
<head>
    <title>Hotel website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/homepage.css') }}">
</head>
<body>
    <h1>This is Home page</h1>
        <div>
            <a href="{{ url_for('game_web') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images/Backgrounds/home.png') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('hotel_screen') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images/Hotels/booking_hotel.png') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('homework') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images/Homework/homework.png') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('sign_up') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images//Backgrounds/signup.gif') }}" alt="Description of the button action" width="120" height="100">

                </button>
            </a>
            <a href="{{ url_for('math_quiz') }}">
                <button class="image-button">

                    <img src="{{url_for('static', filename='images//Backgrounds/math.jpg') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>


        </div>


</body>
</html>
