<!DOCTYPE html>
<html>
<head>
    <title>New Screen</title>
</head>
<body>
    <h1>You Made it to the Homework Screen!</h1>
    <h2>****Options****</h2>
    <ol>
      <li>Add student to end</li>
      <li>Add priority student to front</li>
      <li>Remove a student</li>
      <li>Save data</li>
      <li>Remove all student</li>
      <li>Exit</li>
    </ol>
    <div>
        <a href="{{ url_for('home') }}">
                <button>Go back to Home Screen</button>
        </a>
    </div>
</body>
</html>
