<!DOCTYPE html>
<style>
    body {
        background-image: url("{{ url_for('static', filename='images/Backgrounds/background.png') }}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;


}




    h1 {
        color: White;
        font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}
</style>

<script>
    console.log("Hello World");
    
</script>



<html>
<head>
    <title>Hotel website</title>
</head>
<body>
    <h1>This is Home page</h1>
        <div>
            <a href="{{ url_for('game_web') }}">
                <button class="image-button" >
                    <img src="https://tr.rbxcdn.com/180DAY-c267c408a8596df51a8c55036a1a7516/768/432/Image/Webp/noFilter" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('hotel_screen') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images/Hotels/booking_hotel.png') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('homework') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images/Homework/homework.png') }}" alt="Description of the button action" width="120" height="100">
                </button>
            </a>
            <a href="{{ url_for('sign_up') }}">
                <button class="image-button" >
                    <img src="{{ url_for('static', filename='images//Backgrounds/signup.gif') }}" alt="Description of the button action" width="120" height="100">

                </button>
            </a>
        </div>


</body>
</html>