<!DOCTYPE html>

    <meta charset="UTF-8">
    <title>Hotel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Hotel_screen.css') }}">
</head>
<body>
    <h1>Welcome to hotel screen</h1>
        <div class ="center">
            <p>This is room 1  </p>
            <p>This is room 2  </p>
            <p>This is room 3  </p>
        </div>

        <div>
                    <img src="{{ url_for('static', filename='images/Hotels/room3.png') }}" alt="Description of the button action" width="120" height="100">
                    <img src="{{ url_for('static', filename='images/Hotels/room2.png') }}" alt="Description of the button action" width="120" height="100">
                    <img src="{{ url_for('static', filename='images/Hotels/room1.png') }}" alt="Description of the button action" width="120" height="100">

        <div class = "center">
                <p id="demo1"></p>
                <button class="button_blue button_hover1" type="button" onclick="document.getElementById('demo1').innerHTML = 'Booked!'">Book room</button>


                <p id="demo2"></p>
                <button class ="button_shadow button_hover2" type="button" onclick="document.getElementById('demo2').innerHTML = 'Booked!'">Book room</button>


                <p id="demo3"></p>
                <button class= "button button3"type="button" onclick="document.getElementById('demo3').innerHTML = 'Booked!'">Book room</button>
            </div>
    <div>
        <a href="{{ url_for('home') }}">
                <button>Go back to Home Screen</button>
        </a>
    </div>


</body>
</html>